html,body{
    width:100%;
    background: #fff;
    font-family: PingFangSC-Regular;
    color:#333;
}
html{
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.header_empty{
    width:100%;
    height:2.2rem;
}
.no_address{
    overflow: hidden;
}
.no_address .blank_address{
    width:11.2rem;
    height:3rem;
    margin:1.8333rem auto 0.85rem auto;
    background: url(/Public/Images/front/front_img/blank_address@3x.png) no-repeat;
    background-size: 100% 100%;
}
.no_address .address_tips{
    text-align: center;
    font-size: 1.2rem;
    color: #333333;
    margin-bottom:0.15rem;
}
.no_address .more_tips{
    text-align: center;
    font-size: 0.9rem;
    color: #999999;
}
.fixed_footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:2.8rem;
    line-height:2.8rem;
    background: #DF241D;
    font-size: 0.9rem;
    color: #FFFFFF;
    letter-spacing: 1px;
    text-align: center;
}
/*todo 有地址*/
.have_address{
    margin-bottom:4.2rem;
}
.have_address .address_list{
    overflow: hidden;
    width:100%;
    box-sizing: border-box;
    border-bottom:0.5rem solid #F3F3F3;/*todo li的间距*/
}
.have_address .address_list .header{
    margin:0.6rem 0 0.2rem;
    height:1.4rem;
    line-height:1.4rem;
    color: #333333;
    padding:0 0.75rem;
}
.have_address .address_list .header .fl{
    font-size:0.8rem;
}
.have_address .address_list .header .fr{
    font-size:0.7rem;
}
.have_address .address_list .describe{
    line-height:1rem;
    font-size: 0.7rem;
    color: #333333;
    text-overflow: ellipsis;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    margin-bottom:0.6rem;
    padding:0 0.75rem;
}
.have_address .address_list .edit_control{
    display: flex;
    justify-content:space-between;
    align-items:center;
    height:2rem;
    width:100%;
    border-top:1px solid #EFEFEF;
    box-sizing: border-box;
    padding:0 0.75rem;
    font-size: 0.7rem;
    color: #666666;
}
.have_address .address_list .edit_control .right_control .edit_switch{
    margin-right:1rem;
    display: flex;
    align-items:center;
}
.have_address .address_list .edit_control .right_control .del{
    display: flex;
    align-items:center;
}
.have_address .address_list .edit_control .right_control{
    display: flex;
    justify-content:flex-start;
    align-items:center;
}
.have_address .address_list .edit_control .right_control .icon_market{
    margin-right:0.5rem;
}
.have_address .address_list .edit_control .left_control{
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    height:100%;
}
.have_address .address_list .edit_control .left_control .icon_market{
    margin-right:0.5rem;
}
.modal_del{
    position:fixed;
    top:0;
    width:100%;
    height:100%;
    background: rgba(0,0,0,0.6);
    display: none;
    z-index:3;
}
.modal_del .modal_content{
    width:12.45rem;
    height:8.2rem;
    background: #F6F6F6;
    box-shadow: 0 0.15rem 0.4rem 0 rgba(0,0,0,0.50);
    border-radius: 0.2rem;
    margin:10rem auto 0;
    overflow:hidden;
}
.modal_del .modal_content .icon_warning{
    margin:0.7rem auto 0.6rem;
    display: block;
}
.modal_del .modal_content .warning{
    text-align: center;
    font-size: 0.8rem;
    color: #333333;
    margin-bottom:0.8rem;
}
.modal_del .operation{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items: center;
    height:1.4rem;
    width:100%;
    box-sizing: border-box;
    padding:0 1.5rem;
}
.modal_del .cancel{
    border: 1px solid #3D9FE9;
    border-radius: 4px;
    width:3.7rem;
    height:1.4rem;
    line-height:1.4rem;
    text-align: center;
    color:#3D9FE9;
    font-size: 0.8rem;
}
.modal_del .sure_del{
    border: 1px solid #DF241D;
    border-radius: 4px;
    width:3.7rem;
    height:1.4rem;
    line-height:1.4rem;
    text-align: center;
    color:#DF241D;
    font-size: 0.8rem;
}